<div class="side-bar">
  <div class="item">
    <a class="active" href="#about">Your Preferences</a>
    <a class="last" href="#services">Basic Information</a>
  </div>
  <div class="item">
    <a class="active" href="#clients">Company Defaults</a>
    <a href="#contact">General Info</a>
    <a href="#contact">Content Sources</a>
    <a href="#contact">Search/ Booking Details</a>
    <a class="last" href="#contact">Billing and Account Management</a>
  </div>
  <div class="item">
    <a class="active" href="#contact">Settings</a>
    <a href="#contact">Users</a>
    <a href="#contact">Teams</a>
  </div>
</div>
