<div class="setting-content">
  <div class="header">
    <p class="title">Basic Information</p>
    <p class="detail">
      Configure your name and personal details. Settings changed here will
      overwrite Global Defaults and Team Defaults.
    </p>
    <div class="company">
      <div class="logo">
        <p>NM</p>
      </div>
      <p class="name">Niloufar Mazloumpar</p>
      <img class="icon-edit" src="assets/icons/edit.svg" alt="" />
    </div>
  </div>
  <div>
    <form>
      <div class="divide">
        <div class="item phone">
          <p class="form-label">Phone Number</p>
          <input class="first" type="text" placeholder="XXX" />
          <input class="second" type="text" placeholder="XXX" />
        </div>
        <div class="item">
          <p class="form-label">Email Address</p>
          <input type="email" placeholder="email@email.com" />
        </div>
        <div class="item currency">
          <p class="form-label">Default Currency</p>
          <select name="currency" id="currency">
            <option value="volvo">Guide Text</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </div>
        <div class="item calendar">
          <p class="form-label">Default Calendar layout</p>
          <input type="radio" id="format1" name="calendar" value="30" />
          <label for="format1"> MM/DD/YYYY</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="format2" name="calendar" value="60" />
          <label for="format1"> DD/MM/YYYY</label>
        </div>
      </div>
    </form>
  </div>
</div>
